body {
    background-color: rgb(230, 227, 227);
    color: black;
    font-family: 'Mulish', Arial, Helvetica, sans-serif;
    margin: 0;
}

.first {
    color: black;
    font-family: 'Mulish', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.second {
    color: black;
    font-family: 'Mulish', Arial, Helvetica, sans-serif;
}

.third {
    color: black;
}

header {
    background-color: white;
    padding: 5px;
}

.logo {
    color: black;
    font-family: 'Lobster', Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 50px;
    margin: 0rem 9rem;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav-menu {
    margin: 20;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.header-menu-item {
    margin-right: 3rem;
}

.header-menu-item a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    display: center;
}

.travel {
    position: relative;
    text-align: center;
}

.banner {
    width: 100%;
    height: 700px;
}

.p1 {
    color: white;
    text-align: center;
    font-family: 'Mulish', Arial, Helvetica, sans-serif;
    font-size: 55px;
    position: absolute;
    top: 40%;
    bottom: 60%;
    margin-left: 27rem;
}

h1 {
    text-align: center;
    font-size: 40px;
}

.mission {
    margin: 30px 0;
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    text-align: center;
    font-size: 23px;
}
.column {
    display: flex;
    margin: auto;
}

.column-item {
    width: calc(100% / 3 - 10px);
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.719);
    text-align: center;
    color: black;
}

.carousel {
    margin-top: 25px;
}

.c-img {
    height: 500px;
    object-fit: cover;
}

.services {
    color: black;
    background-color: white;
    margin: 30px 0;
    padding: 20px;
}

.services p {
    font-size: 20px;
    text-align: center;
}

.service-menu{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly ;
}

.services-items a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.bg-cont {
    background-image: url(../images/cont.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
}

.bg-shield {
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.6);
}

.items {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

img {
    height: 300px;
    float: left;
}


.item-text {
    margin-left: 25px;
}

.item-text p {
    font-size: 20px;
}

footer {
    background-color: white;
    padding: 8px;
}

.bottom {
    color: black;
    font-size: 25px;
    text-align: center;
    word-spacing: 7px;
    margin: 0;
}

.bottom a {
    text-decoration: none;
    color: black;
}